.button {
  @include flex-center(true);

  column-gap: 4px;
  width: 220px;
  padding-block: 12px;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  user-select: none;
  cursor: pointer;

  @include mobile {
    width: 100%;
    padding-block: 15px;
  }

  @include hover {
    color: var(--color-white);
    background-color: var(--color-primary-hover);
  }

  &:active {
    background-color: var(--color-primary-click);
  }

  &--transparent {
    background-color: transparent;

    &:has(.button__icon:only-child) {
      @include square(44px);

      .button__icon {
        --iconSize: #{fluid-to-laptop(34, 24)};
      }
    }

    @include hover() {
      background-color: transparent;
    }
  }
}



/*
When it hasn't any text
*/

.button__icon {
  @include flex-center(true);
  background-color: transparent;
  border: none;
  svg {
    color: var(--color-gray);

    @include hover {
      color: var(--color-primary);
    }
  }
}
