.features {
  padding-block: var(--section-padding-y);

  &__body{
    @include flex-center();
    flex-direction: column;
    gap: 56px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 30px;

    &-item {
      @include flex-center();
      flex-direction:  column;
      gap: 32px;
      max-width: 22vw;
      text-align: center;
      border-inline:   var(--border-gray);
      padding: 24px;
    }
  }
}