.card {
  display: block;
  height: 100%;
  cursor: pointer;
  color: var(--color-gray) !important;

  @include hover(){
    .card__image {
      transform: scale(1.02);
    }
    .card__content-title {
      color: var(--color-primary);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

    transform: scale(1);
    transform-origin: center;
    transition-duration: var(--transition-duration);

    &-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 12%;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: color-mix(in srgb, black 2%, transparent);
        z-index: 2;
      }
    }
  }

  &__stickers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    top: 0;
    padding: 12px;
    z-index: 3;

    &-left {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-stock {
      display: flex;
      align-items: center;
      gap: 8px;

      &-icon {
        display: flex;
        background-color: var(--color-white);

        .success{
          color: (var(--success));
        }
        .error{
          color: (var(--error));
        }
        &-svg {
          background-color:var(--color-white);
        }
      }
    }

    &-gift {
      width: fit-content;
      display: flex;
      align-items: center;
      gap:  10px;
      padding: 6px 8px;
      background-color: var(--color-white);
      color: var(--color-black);
      box-shadow: 0px 2px 5px 0px color-mix(in srgb, var(--color-black) 3%, transparent);
      transition-duration:  var(--transition-duration);
      user-select: none;

      &-icon {
        width: 12px;
        color: var(--color-primary);
      }
    }

    &-sale {
      height:  fit-content;
      padding: 6px 8px;
      background-color: var(--color-white);
      color: var(--color-black);
      box-shadow: 0px 2px 5px 0px color-mix(in srgb, var(--color-black) 3%, transparent);
      user-select: none;
    }
  }

  &__content {
    padding: 10px 12px;
    border: var(--border-gray-light);
    border-top: none;

    &-title {
    }

    &-price {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-top: 10px;

      &-new {
        font-size: 20px;
        font-weight: 600;
        color: var(--color-black);
      }

      &-old {
        font-size: 16px;
        text-decoration: line-through;
        font-weight: 300;
        text-decoration-thickness: 1px;
        color: var(--color-gray);
      }
    }

    &-reviews {
      display: flex;
      align-items:  center;
      gap: 8px;
      font-size: 13px;

      &-stars {

        .card__star {
          color:  var(--color-gray-lighter);
        }
        .card__star--filled {
          fill: var(--golden);
          color:  var(--golden);
        }
      }
    }
  }
}