html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(16, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color:  var(--color-gray);
  background-color:  var(--color-white);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-black);
}

h1, .h1 {
  @include fluid-text(44, 22); // Первый заголовок

  font-weight: 600;
}

h2, .h2 {
  @include fluid-text(44, 22); // Заголовки блоков

  font-weight: 600;
}

h3, .h3 {
  @include fluid-text(24, 22);  // ИМЯ ТОВАРА

  font-weight: 600;
}

h4, .h4 {
  @include fluid-text(28, 16); // Категирия

  font-weight: 600;
}

h5, .h5 {
  @include fluid-text(24, 16); // Приемущества на испанском

  font-weight: 600;
}
h6, .h6 {
  @include fluid-text(18, 20); // Заголовки футера

  font-weight: 500;
}


a,
button,
textarea,
input,
select,
textarea,
svg * {
  transition-duration:  var(--transition-duration);
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-primary);

  @include hover {
    text-decoration: none;
  }

  &[class] {
    color: var(--color-black);
    text-decoration: none;

    @include hover {
      color:  var(--color-primary);
    }
  }
}