.hero {
  position: relative;
  padding-block: 70px 50px;
  min-width: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color-mix(in srgb, var(--color-black) 2%, transparent);
    pointer-events: none;
    z-index: 1;
  }

  &__body {
    @include flex-center();
    flex-direction: column;
    gap: 80px;
    position: relative;
    z-index: 0;
    min-width: 0;
  }

  &__suggestion {
    display: flex;
    align-items: center;
    gap: 70px;
    margin: 0 auto;
    max-height: 60vh;

    &-img {
      position: relative;
      height: 50%;
      max-height: 75vh;
      z-index: 0;
    }
  }

  &__content {
    max-width: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {

    }

    &-description {
      max-width: 80%;
      margin-bottom: 12px;
    }

    &-purchase {
      &-title {
        font-size: 12px;
      }

      &-price{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        margin-block: 4px 16px;

        &-old {
          color:  var(--color-gray-light);
          text-decoration-line: line-through;
          text-decoration-thickness: 0.5px;
        }
      }
    }
  }
}