.hero {
  position: relative;
  padding-block: 70px 50px;
  min-width: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color-mix(in srgb, var(--color-black) 2%, transparent);
    pointer-events: none;
    z-index: 1;
  }

  &__body {
    @include flex-center();
    flex-direction: column;
    gap: 80px;
    position: relative;
    z-index: 0;
    min-width: 0;
  }
}