.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
  border-bottom: var(--border-width-s) solid transparent;
  animation-name: scrolling-header-border;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  @keyframes scrolling-header-border {
    to {
      border-color: var(--color-border);
    }
  }


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    padding-block: 20px;

    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 0 100px;

    @keyframes scrolling-header {
      to {
        padding-block: 15px;
      }
    }
  }

  &__promo {
    padding-block: fluid(7, 12);
    color: var(--color-white);
    background-color: var(--color-gray);

    &-body {
      display: flex;
      justify-content: space-between;
    }

    &-text {
      letter-spacing: 0.15em;
    }

    a {
      color: var(--color-white);
      text-decoration-color: var(--color-white);
      text-decoration-thickness: 1.5px;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__phone {
    white-space: nowrap;
    @include flex-center(true);
    gap: 8px;
  }
}


// ПОпап

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

.submenu.active {
  display: block;
}

.submenu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu__item {
  padding: 5px 10px;
  cursor: pointer;
}

.submenu__item:hover {
  background-color: #f0f0f0;
}