.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
  border-bottom: var(--border-width-s) solid transparent;
  animation-name: scrolling-header-border;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  @keyframes scrolling-header-border {
    to {
      border-color: var(--color-border);
    }
  }


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    padding-block: 20px;

    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 0 100px;

    @keyframes scrolling-header {
      to {
        padding-block: 15px;
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 32px;
    color: var(--color-dark);
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 30px;

    &-buttons {
      display: flex;
      flex-direction: row;
      gap: 24px;

      &-icon {

      }
    }
  }

  &__phone {

  }
}